body {
    background-color: var(--body-background);
    min-height: 100vh;
}
/**** Password ****/
.password {
    margin-top: 4rem;
}
/* back button */
.back {
    margin-bottom: 2.2rem;
    display: inline-flex;
    align-items: center;
    gap: 1.2rem;
}
/* Main Title */
.mainTitle {
    margin-bottom: 2rem;
}
/* form */
form {
    background-color: var(--white);
    padding: 3rem 2rem 2rem 2rem;
    border-radius: 1rem;
    border: var(--border-primary);
}
form label {
    margin-bottom: 0.5rem;
}
form input {
    height: 4.8rem;
    padding-left: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 1rem;
    width: 28.5rem;
    margin-bottom: 3rem;
}
form input:focus {
    outline: none;
    border: 1px solid var(--dark-blue);
}
form li {
    margin-left: 2rem;
    margin-bottom: 1rem;
}
form ul {
    margin-bottom: 3rem;
}
.check {
    gap: 2rem;
}
button {
    width: 11.6rem;
    height: 4.7rem;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    cursor: pointer;
}
@media screen and (max-width: 375px) {
    form input {
        width: 95%;
    }
}